.container {
  width: 768px;
  margin: 0 auto;

  display: flex;
  justify-content: right;
}

.link {
  position: relative;
  overflow: hidden;

  text-decoration: none;
  color: #f7f7f7;

  &:not(:last-child) {
    margin-right: 50px;
  }

  // &::after {
  //   content: '';
  //   position: absolute;
  //   bottom: 0;
  //   left: 0;
  //   display: block;
  //   height: 1px;
  //   width: 100%;
  //   background-color: #fff;

  //   transform: scaleX(0);
  //   transition: transform 200ms linear, color 200ms linear;
  //   transform-origin: right;
  // }

  &:hover::after,
  &:focus::after {
    transform: scaleX(1);
    transform-origin: left;
  }

  &:hover,
  &:focus {
    color: #DDA0DD;
  }
}

.active {
  color: #DDA0DD;
}
